extends ../layouts/default

block content
    .container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
            p: a(href='/') &larr; 返回
            hr
            if !data.case
                h2 Invalid Case.
            else
                h1= data.case.name

            each field in data.case
                p= field.name
                if field.type == "html"
                    != field.value
                else
                    p= field.edit
                    input(value= field.value, readonly= !field.edit)

